<h1>burgersimulator</h1>

<h2>Burgers!</h2>

<ul>
   {{#each burgers}}
     {{#unless eaten}}
       {{> burgers/burger-block eaten=true}}
     {{/unless}}
   {{/each}}
</ul>

<h2>You ate these..</h2>

<ul>
   {{#each burgers}}
     {{#if eaten}}
      {{> burgers/burger-block eaten=false}}
     {{/if}}
   {{/each}}
</ul>