<h1>burgersimulator</h1>

<h2>Burgers!</h2>

<ul>
   {{#each burgers}}
     {{#unless eaten}}
       {{> burgers/burger-block eaten=true}}
     {{/unless}}
   {{/each}}
</ul>

<h2>You ate these..</h2>

<ul>
   {{#each burgers}}
     {{#if eaten}}
      {{> burgers/burger-block eaten=false}}
     {{/if}}
   {{/each}}
</ul>

<h2>Make a Burger</h2>
<form class="create-form">
  <div class="form-group">
    <label for="burger">Sandwich:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
    <label for="eaten"></label><br>
    <input type="radio" name="eaten" value="1" checked> Eat
    <input type="radio" name="eaten" value="0"> Here's one!
  </div>
  <button type="submit">Make it</button>
</form>